rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. Bloqueo de acceso por defecto (Zero Trust)
    match /{document=**} {
      allow read, write: if false;
    }
    
    // 2. Reglas para los perfiles de fans de un streamer
    match /streamers/{streamerId}/fans/{uid} {
      // El perfil general (username, croins) solo puede ser leído por el propio usuario (Anti-Enumeración)
      allow read: if request.auth != null && request.auth.uid == uid;
      
      // La creación exige que el usuario comience con 0 Croins
      allow create: if request.auth != null && request.auth.uid == uid && request.resource.data.Croins == 0 && request.resource.data.isPro == false;
      // Las actualizaciones del perfil general no pueden alterar los Croins o privilegios
      allow update: if request.auth != null && request.auth.uid == uid && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['Croins', 'isPro']);
      
      // 3. Subcolección privada de contacto (PII)
      match /private/contact {
        // Estrictamente: Solo el dueño de la cuenta puede leer o modificar su información de contacto
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
  }
}
